*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container3{
    background-color:rgb(255,186,0);
    align-items: center;
    height:400px;
    width:100%;
    

}
.container3 .head{
    text-align: center;
    padding-top:20px;

}
.container3 .flex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:15px;
}
img{
    height:150px;
    width:200px;
}
.right .img{
    height:150px;
    width:200px;
}