*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    font-family: arial;
    display:flex;
    color:white;
    height:500px;;
    width:100%;
    font-size: 15px;;


}
.container .left{
    background-color:rgb(12,59,46);
    padding-left:20px;
    padding-top:30px;
    padding-right:10px;
    width:50%;
}
.container .right{
height:100vh;
width:50%;  
}
 .right img{
    height:500px;
    width:100%;

}
.book{
    font-family: arial;
    background-color:rgb(255,186,0);
    border:none;
    margin-top:40px;
    height:30px;
    width:300px;
    border-radius:30px;
    font-weight:bold;

    

}

